<div class="p-grid">
  <div class="p-col-6 card-container" *ngFor="let user of usersList">
    <div class="p-grid">
      <div class="p-col-12">
        <span>Name : {{user.name}}</span>
      </div>
      <div class="p-col-12">
        <span>Age : {{user.age}}</span>
      </div>
      <div class="p-col-6">
        <span>Address : {{user.address.address}}</span>
      </div>
      <div class="p-col-6 button-alignment">
        <button type="button" (click)="selectUser(user)">User Detail</button>
      </div>
    </div>
  </div>
</div>
